.top {
    padding: 20px;
    background-color: rgb(197, 171, 223);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.top__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top__logo {
    width: 70px;
    height: 70px;
    animation: spin 3s linear infinite; /* добавляем анимацию */
}

@keyframes spin { /* определяем анимацию */
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}.top__menu {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.top__link_active {
    text-decoration: underline;
    color: rgba(105, 103, 103, 0.753);
    text-shadow: 2px 2px 5px #fff;
  
  }
  
