@charset "UTF-8";

#root {
  max-width: 2560px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-size: 24px;
}

.center {
  padding-left: calc(50% - 45vw);
  padding-right: calc(50% - 45vw);
}
